@import "colors";

.backupModalContainer {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.backupButtons {
  display: flex;
  flex-direction: row;
  margin: 8px 0;
}

.backupButton {
  margin-right: 8px;
}
