@import "colors";
@import "typography";

.badge {
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: center;
  border-radius: 4px;
  padding: 2px 4px;
  border-width: 2px;
  margin: 2px;

  &.transparent {
    .transparent;
  }

  &.white-on-red {
    .white-on-red;
  }

  &.white-on-blue {
    .white-on-blue;
  }

  &.white-on-orange {
    .white-on-orange;
  }

  &.white-on-green {
    .white-on-green;
  }

  &.orange {
    .orange;
  }

  &.green {
    .green;
  }
}

