@import "colors";

.balanceSheet {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: @darkGray;
}

.balanceSheetItemIcon {
  height: 24px;
  width: 24px;
  margin-right: 24px;
}

.balanceSheetItemContainer {
  display: flex;
  flex-direction: row;
  background-color: @darkestGray;
  justify-content: space-between;
}