
@lightestRed: rgba(255, 0, 0, 0.5);
@lightRed: rgba(255, 0, 0, 0.8);
@red: rgba(255, 0, 0);

@lightestGreen: rgba(34, 139, 34, 0.5);
@lightGreen: rgba(34, 139, 34, 0.8);
@green: rgba(34, 139, 34, 1);

@lightestOrange: rgba(255, 119, 0, 0.5);
@lightOrange: rgba(255, 118, 0, 0.8);
@orange: #ff7300;
@darkOrange: #B96900;
@darkestOrange: #905100;

@lightestBlue: #4685B2;
@lightBlue: #256FA4;
@blue: #095A94;
@darkBlue: #074977;
@darkestBlue: #04385C;

@white: #ffffff;
@lightestGray: #9b9b9b;
@lightGray: #727272;
@gray: #3f3f3f;
@darkGray: #313131;
@darkestGray: #1e1e1e;
