
@lightestRed: rgba(255, 0, 0, 0.3);
@lightRed: rgba(255, 0, 0, 0.5);
@red: rgba(255, 0, 0, 1);

@transparent: rgba(255, 255, 255, 0);
@lightestGreen: rgba(34, 139, 34, 0.3);
@lightGreen: rgba(34, 139, 34, 0.5);
@green: rgba(34, 139, 34, 1);

@lightestOrange: rgba(255, 118, 0, 0.3);
@lightOrange: rgba(255, 118, 0, 0.5);
@orange: #ff7300;
@darkOrange: #B96900;
@darkestOrange: #905100;

@lightestBlue: rgba(0, 87, 148, 0.4);
@lightBlue: rgba(0, 87, 148, 0.5);
@blue: rgba(0, 87, 148, 1);
@darkBlue: #074977;
@darkestBlue: #04385C;

@white: #ffffff;
@lightestGray: #646464;
@lightGray: #505050;
@gray: #3c3c3c;
@darkGray: #282828;
@darkestGray: #141414;

.red {
  border-color: @lightestRed;
  color: @lightestRed;
}

.blue {
  border-color: @lightestBlue;
  color: @lightestBlue;
}

.orange {
  border-color: @lightestOrange;
  color: @lightestOrange;
}

.green {
  border-color: @lightestGreen;
  color: @lightestGreen;
}

.white-on-red {
  .red;
  background: @lightestRed;
  color: @white;
}

.white-on-blue {
  .blue;
  background-color: @lightestBlue;
  color: @white;
}

.white-on-orange {
  .orange;
  background-color: @lightestOrange;
  color: @white;
}

&.white-on-green {
  .green;
  background-color: @lightestGreen;
  color: @white;
}

&.transparent {
  border-color: @transparent;
  background-color: @transparent;
  color: @white;
}
