.footer {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
}

.buttons {
  flex-direction: row;
  align-items: center;
}

.buttonGap {
  margin-left: 8px;
}
