@import "colors";

.sheet {
  padding: 20px;
}

.sheetHeader {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  margin-bottom: 12px;
}

.section {
  margin-bottom: 16px;
}

.fieldRow {
  flex-direction: row;
  margin-bottom: 16px;
}

.memoField {
  flex: 1;
  margin-right: 10px;
}

.amountField {
  width: 130px;
}

.buttonRow {
  flex-direction: row;
}

.buttonFill {
  flex: 1;
}

.buttonRowGap {
  margin-left: 10px;
}

.status {
  margin-top: 12px;
}
