@import "colors";

.emptyCard {
  align-items: center;
  padding: 32px 24px;
  border-radius: 16px;
  background-color: @surface;
}

.emptyTitle {
  margin-top: 12px;
}

.emptyText {
  margin-top: 4px;
  text-align: center;
}
