@import "colors";

.screen {
  flex: 1;
  padding-left: 16px;
  padding-right: 16px;
  background-color: @bg;
}

.screenHeader {
  flex-direction: row;
  align-items: center;
  height: 56px;
}

.menuButton {
  margin-left: -10px;
  margin-right: 6px;
}
